# Include the data files
recursive-include fgdconv/data *

# Include pyenv configuration
include .python-version

# Include documents
include *.rst
include *.txt
recursive-include docs *.rst conf.py

